body {
	margin:auto;
	padding-left: 10px;
    font-family: 'Lato', sans-serif;
	font-size: 28px;
}

h1 {
	    font-weight: 300;
	    text-transform: uppercase;
}

h2 {
	    text-transform: uppercase;
}
@media screen and (min-width:768px){
    h1 {
	    font-size: 50px;
	    text-align: right;
        }
    h2 {
	    font-size: 32px;
	    text-align: right;
    }
	.large-screen-only {
		    display:block;
		    margin: auto;
	}
	.subject {
		text-transform: uppercase;
	    font-size: 40px;
	}

	.reference {
		font-size: 15px;
		padding-bottom: 10px;
	}
}

@media screen and (max-width:767px){
    h1 {
	    font-size: 30px;
	    text-align: right;
    }
    h2 {
	    font-size: 22px;
	    text-align: right;
    }

	.large-screen-only {
		    display:none;
		}
	.subject {
		text-transform: uppercase;
	    font-size: 30px;
	}
	.reference{
		font-size: 20px;
		text-decoration: underline;
		padding-bottom: 10px;
	}

}



.overview {
	font-size: 36px;
}

.subject {
	text-transform: uppercase;
    font-size: 40px;
}


.logo {
	float:left;
	padding-top: 20px;
}


.center-it {
	margin:auto;
}
.valid-css {
   border:0;
   max-width:88px;
   max-height:31px;
}